body {
  background-color: #333333;
  color: wheat;
  font-size: 60px;
}
h6 {
  color: #ffffff;
  text-align: right;
}
.background {
  background-image: url(index.html);
  background-position: center;
}
